/************************
Fonts
************************/
@font-face{
    font-family: "NetflixSans-Regular";
    font-weight: 400;
    font-size: normal;
    src: 
        url("../Font/Netflix font Regular/NetflixSansRegular.eot"),
        url("../font/Netflix font regular/NetflixSansRegular.ttf") format("Truetype"),
        url("../font/Netflix font regular/NetflixSans-Regular.woff") format("woff"),
        url("../font/Netflix font regular/NetflixSans-Regular.woff2") format("woff2"),
        url("../font/Netflix font regular/NetflixSans-Regular.svg") format("svg");
}

@font-face{
    font-family: "NetflixSans-Bold";
    font-weight: 700;
    font-size: normal;
    src:
        url("../Font/Netflix font Bold/NetflixSansBold.eot"),
        url("../Font/Netflix font Bold/NetflixSansBold.svg") format("svg"),
        url("../Font/Netflix font Bold/NetflixSansBold.ttf") format("TrueType"),
        url("../Font/Netflix font Bold/NetflixSansBold.woff") format("woff"),
        url("../Font/Netflix font Bold/NetflixSansBold.woff2") format("woff2");
}

/************************
Variables
************************/
:root{
    --primary-color: #000;
    --secundary-color: #333;
    --terteary-color: #999;
    --quaternary-color:#757575;
    --quinary-color:#0071eb;
    --senary-color:#222;
    --septernary-color:#e50914;
    --octonary-color:#fff;
    --nonary-color:#aaa;

    --primary-font: "NetflixSans-Regular", sans-serif;
    --secundary-font: "NetflixSans-Bold", sans-serif;
}
/************************
Generals
************************/
*{
    box-sizing: border-box;
}
/************************
Typography
************************/
html{
    font-size: 18px;
    font-family: var(--primary-font);
}
h1,h2,h3{
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
figure{
    margin: 0;
}
select{
    margin: 0;
}
img{
    max-width: 100%;
    display: block;
}
video{
    max-width: 100%;
    display: block;
}
/************************
Components
************************/
/* Idioma 1 */
.home-header select{
    padding: 8px 8px 8px 24px;
    border-radius: 2px;
    background-color: var(--primary-color);
    border-color: var(--secundary-color);
    color: var(--octonary-color);
}
.home-idioma-select{
    display: flex;
    align-items: center;
}
.home-idioma-select .idioma-select{
    position: relative;
}
.home-idioma-select .idioma-select::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.home-idioma-select .idioma-select::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0ac";
    color: var(--octonary-color);
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
}
/* Idioma 2 */
.home-select-idioma .select-idioma {
    position: relative;
}
.home-select-idioma .select-idioma::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.home-select-idioma .select-idioma::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0ac";
    color: var(--octonary-color);
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
}
.select-idioma{
    margin-left: 40px;
}
.select-idioma select{
    padding: 12px 12px 12px 24px;
    border-radius: 2px;
    background-color: var(--primary-color);
    border-color: var(--secundary-color);
    color: var(--terteary-color);
}
/* Form */
.banner-content form{
    display: flex;
    justify-content: center;
}
.banner-content input{
    width: 450px;
    height: 60px;
    border: 2px;
    padding: 10px;
}
.banner-content button{
    height: 60px;
    width: 201px;
    cursor: pointer;
    border: 2px;
    background-color: var(--septernary-color);
    font-size: 26px;
    color: var(--octonary-color);
    font-family: var(--primary-font);
    font-weight: 400;
}
/* Iniciar Sesion */
.home-header a{
    border-radius: 3px;
    background-color: var(--septernary-color);
    color: var(--octonary-color);
    margin-left: 33px;
    margin-right: 55px;
    padding: 7px 18px;
}
/* Stranger card */
#Stranger{
    border: 1px solid var(--nonary-color);
    border-radius: 12px;
    max-width: 333px;
    width: 56.92307692307692%;
    position: absolute;
    background-color: var(--primary-color);
    top: 75%;
    left: 44%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
#Stranger .div-home-Stranger{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#Stranger img{
    width: 60px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#animation .image-animation{
    width: 60px;
}
#Stranger .div2{
    display: inline;
}
#Stranger p{
    padding-left: 16.6px;
}
#Stranger .p1{
    font-size: 16px;
    padding-top: 28px;
    line-height: 20px;
}
#Stranger .p2{
    font-size: 14.4px;
    padding-bottom: 28px;
    line-height: 19px;
    color: var(--quinary-color);
}
/************************
Style
************************/
/* Container Header */
.container-header{
    max-width: 1343px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}
/* Container 1 */
.container{
    max-width: 1343px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
    border-bottom: 8px solid var(--senary-color);
}
/* Header */
.main-home-header{
    width: 100%;
    position: relative;
    z-index: 2;
}
.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.home-header img{
    width: 100%;
    max-width: 170px;
    padding-left: 40px;
}
/* Banner */
.main-h-hero-banner{
    position: relative;
    background-color: var(--primary-color);
}
.main-h-hero-banner{
    background-image: url(../img/fondo.jpg);
    box-shadow: 0px 0px 155px 20px rgba(0,0,0,0.75) inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-bottom: 8px solid var(--senary-color);
}
.h-hero-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 145px;
}
.banner-content{
    z-index: 2;
}
.banner-content h1, h2, h3{
    color: var(--octonary-color);
    margin: auto;
}
.banner-content h2, h3{
    font-family: var(--primary-font);
}
.banner-content h1{
    font-family: var(--secundary-font);
    font-size: 50px;
    line-height: 55px;
    max-width: 645px;
    padding-bottom: 16px;
}
.banner-content h2{
    font-size: 26px;
    line-height: 33px;
    font-weight: 400;
    padding-bottom: 25px;
    max-width: 573px;
}
.banner-content h3{
    font-size: 19.2px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 20px;
    max-width: 851px;
}
/* Section 2 */
.main-home-disfruta{
    background-color: var(--primary-color);
}
.home-disfruta{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-disfruta div{
    padding-top: 105px;
    padding-bottom: 105px;
}
.home-disfruta .disfruta-div1{
    max-width: 660px;
    width: 49.88662131519274%;
    padding-left: 120px;
}
.home-disfruta .disfruta-div2{
    max-width: 640px;
    width: 48.37490551776266%;
    padding-left: 22px;
}
.home-disfruta div h2{
    font-family: var(--secundary-font);
    font-size: 50px;
    line-height: 55px;
    color: var(--octonary-color);
    padding-bottom: 19px;
}
.home-disfruta div p{
    font-family: var(--primary-font);
    font-size: 26px;
    line-height: 33px;
    color: var(--octonary-color);
    max-width: 540px;
}
.home-disfruta figure{
    position: relative;
}
.home-disfruta img{
    position: relative;
    z-index: 2;
}
.home-disfruta video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Section 3 */
.main-home-descarga{
    background-color: var(--primary-color);
}
.home-descarga{
    display: flex;
    align-items: center;
    padding-left: 45px;
    flex-wrap: wrap;
}
.container-card{
    max-width: 585px;
    width: 44.21768707482993%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
}
.home-descarga .descarga-letra{
    max-width: 509px;
    width: 38.47316704459562%;
}
.home-descarga div h2{
    font-family: var(--secundary-font);
    font-size: 50px;
    line-height: 55px;
    color: var(--octonary-color);
    max-width: 472px;
    margin: 0;
    padding-bottom: 19px;
}
.home-descarga div p{
    font-family: var(--primary-font);
    font-size: 26px;
    line-height: 33px;
    color: var(--octonary-color);
    max-width: 509px;
}
.home-descarga img{
    width: 505px;
    z-index: 1;
    position: relative;
}
/* Footer */
.main-home-footer{
    background-color: var(--primary-color);
}
.home-footer{
    padding: 72px 0 30px;
}
.home-footer p{
    color: var(--quaternary-color);
    line-height: 20px;
    font-size: 16px;
    padding-bottom: 18px;
    padding-left: 40px;
}
.home-footer ul{
    list-style-type: none;
    font-size: 13px;
    line-height: 16px;
}
.home-footer a{
    color: var(--quaternary-color);
}
.home-footer li{
    padding-bottom: 16px;
}
.home-footer ul div{
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
    vertical-align: top;
}
.netflix{
    padding-top: 24px;
}


/* Video de carga */
#overlay {
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.hide {
    display: none;
}
#vintro{    
    width: 100%;
    text-align: center; 
}
/******************/
.h-home-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
/************************
Media Querie
************************/
@media screen and (max-width: 1024px){
    .banner-content h1{
        font-size: 45px;
        line-height: 50px;
    }
    .banner-content h2{
        font-size: 23px;
        line-height: 28px;
    }
    .banner-content h3{
        font-size: 15.2px;
        line-height: 20px;
    }
    .banner-content input{
        width: 350px;
    }
    .banner-content button{
        width: 155px;
        font-size: 24px;
    }
    .home-disfruta div h2{
        font-size: 45px;
        line-height: 50px;
    }
    .home-disfruta div p{
        font-size: 23px;
        line-height: 30px;
    }
    .home-descarga div h2{
        font-size: 39px;
        line-height: 44px;
    }
    .home-descarga div p{
        font-size: 23px;
        line-height: 28px;
    }
    #Stranger .p1{
        font-size: 12px;
        padding-top: 20px;
        line-height: 16px;
    }
    #Stranger .p2{
        font-size: 11.4px;
        padding-bottom: 20px;
        line-height: 16px;
    }
    #Stranger img{
        width: 50px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .home-footer p{
        font-size: 13px;
        line-height: 17px;
        padding-bottom: 14px;
    }
    .home-footer ul{
        font-size: 11px;
        line-height: 14px;
    }
}
@media screen and (max-width: 949px){
    .banner-content form{
        flex-direction: column;
        align-items: center;
    }
    .banner-content button{
        margin-top: 10px;
    }
    .home-disfruta{
        flex-direction: column;
    }
    .home-disfruta .disfruta-div1{
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
    }
    .home-disfruta div h2{
        text-align: center;
    }
    .home-disfruta div p{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin: auto;
    }
    .home-disfruta .disfruta-div2{
        width: 100%;
        padding-top: 0;
    }
    .home-descarga{
        flex-direction: column-reverse;
    }
    .container-card{
        width: 100%;
        padding-top: 10px;
        padding-right: 0;
        margin-bottom: 15px;
    }
    #Stranger{
        left: 49%;
    }
    .home-descarga .descarga-letra{
        width: 100%;
        padding-top: 50px;
    }
    .home-descarga div h2{
        text-align: center;
        margin: auto;
    }
    .home-descarga div p{
        margin: auto;
        text-align: center;
    }
}
@media screen and (max-width: 540px){
    .home-header select{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
    .home-header a{
        margin-right: 0;
        margin-left: 10px;
        padding: 5px 10px 5px 10px;
    }
    .banner-content h1{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 14px;
    }
    .banner-content h2{
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 20px;
    }
    .banner-content h3{
        font-size: 11.2px;
        line-height: 16px;
        padding-bottom: 15px;
    }
    .home-disfruta div h2{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .home-disfruta div p{
        font-size: 20px;
        line-height: 26px;
    }
    .home-descarga .descarga-letra{
        padding-right: 30px;
    }
    .home-descarga div h2{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .home-descarga div p{
        font-size: 20px;
        line-height: 26px;
    }
}
@media screen and (max-width: 440px){
    .home-header img{
        padding-left: 5px;
    }
    .home-header select{
        font-size: 18px;
    }
    .home-header a{
        font-size: 14px;
    }
    #Stranger .p1{
        font-size: 11px;
        line-height: 15px;
    }
    #Stranger .p2{
        font-size: 10px;
        line-height: 15px;
        padding-left: 6px;
    }
    .home-footer ul{
        padding-left: 12px;
    }
}